*{
	
	background-color: black;
}
h2{
	text-align: center;
	color: white;
}

.c-data{
	
	background-color: red;
	width: 25%;
	position: relative;
	left:6%;
	color:white;

}
.btn{
	width: 55px;
	margin-left: 4px;
	margin-bottom: 4px;

	
}
h5{
	color:
}
.boxs{
	padding-left: 20px;

}