body{
	background-color: hsl(209, 100%, 81%);
	text-align: center;
}
.head{
	font-size: 30px;
	font-family: 'Kanit', sans-serif;
	color: brown; 
}
#number:hover{
	background-color: blue;
	color: white;
	border-color: black;
	border-style: solid;

}
#number{ 
	background-color: rgb(0,0,205);
	color: white;
	border-color: black;
	border-style: solid;

}
#num:hover{
	background-color: red;
	color: white;
	border-color: black;
	border-style: solid; 
}
#num{
	background-color: rgb(205,0,0);
	color: white;
	border-color: black;
	border-style: solid; 
}
.number{
	color: red;
	font-size: 24px;
	position: relative;
	right: 210px;
	top: 30px;
}
.num{
	width: 50%;
	color: rgb(75,0,130);
	font-size: 20px;
	position: relative;
	left: 40%;
	top: 320px;
}
.big_box{
	margin-top: 50px;
	margin-left: 25%;
	width: 50%;
	background-color:hsl(209, 100%, 82%);
}
.box_input{
	width: 70%;
	position: relative;
	left: 30%;
	top: 80px;
	font-size: 20px;

}
.box_list{
	width: 20%;
	color: orange;
	font-size: 18px;
	position: relative;
	left: 60px;
	bottom: 60px;
	border-color: black;
	border-width: 1px;

}
.box_sum{
	width: 20%;
	color: red;
	font-size: 24px;
	border-color: black;
	border-width: 1px;
	position: absolute;
	bottom: 30%;
	left: 47%;


}
.box_amoung{
		width: 10%;
		position: relative;
		left: 40%;
}